<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{ title : 'Bandeja de Solicitudes' }) %>

  <body class="admin">
    <%- include('../partials/header-admin',{ title : 'Bandeja de Solicitudes' }) %>
      <main class="admin--main">
        <div class="admin--bar">
          <div class="admin--titleBar">
            <h3 class="admin--title">Bandeja de Solicitudes</h3>
          </div>
        </div>

        <section class="admin-requests__dashboard">
          <div class="admin-requests__options">
            <ul class="nav nav-pills nav-fill gap-2 p-1 small bs-secondary rounded-5 shadow-sm" id="myTab"
              role="tablist"
              style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-white); --bs-nav-pills-link-active-bg: var(--color-PurpleTres);">
              <li class="nav-item" role="presentation">
                <button class="nav-link active rounded-5" id="home-tab" data-bs-toggle="tab"
                  data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                  aria-selected="true">Nuevos</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="profile-tab" data-bs-toggle="tab"
                  data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
                  aria-selected="false">Modificación</button>
              </li>

            </ul>
          </div>
          <div class="tab-content pt-1 pb-5 mt-1 mb-5 rounded-1" id="myTabContent"
            style="background-color: var(--color-SalmonRed)">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
              tabindex="0">
            <% entrepreneurships.forEach(({name, description, user}) => { %>
              <article class="card">
                <div class="card--body_example">
                  <img src="https://reddigitalizadas.com.ar/wp-content/uploads/2023/09/cookies-TS-750x1000.jpg"
                    class="img-fluid rounded-start" alt="...">

                  <div class="card--structure p-3">
                    <h5><%= name %></h5>
                    <p>de <%= user.name %> <%= user.surname %></p>
                    <small><%= description %></small>
                    <div class="card--structure__buttons">
                      <div class="buttons--yesNo">
                        <button type="button" class="buttons__yes" data-bs-toggle="modal" data-bs-target="#Approved?">
                          <i class="fa fa-check" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="buttons__no" data-bs-toggle="modal" data-bs-target="#Approved?">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                      </div>
                      <button type="button" class="btn btn-outline-dark"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        data-bs-toggle="modal" data-bs-target="#preview">
                        Vista previa
                      </button>
                    </div>
                  </div>
                </div>
              </article>
            <% }) %>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

              <article class="card">
                <div class="card--body_example">
                  <img
                    src="https://reddigitalizadas.com.ar/wp-content/uploads/2023/10/IMG_20230930_144915206-750x1000.jpg"
                    class="img-fluid rounded-start" alt="...">

                  <div class="card--structure">
                    <h5>[EmprendiXX]</h5>
                    <p>Solicita modificar</p>
                    <small>_<small>
                        <div class="card--structure__buttons">
                          <div class="buttons--yesNo">
                            <button type="button" class="buttons__yes" data-bs-toggle="modal"
                              data-bs-target="#Approved?">
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="buttons__no" data-bs-toggle="modal"
                              data-bs-target="#Approved?">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                          </div>
                          <button type="button" class="btn btn-outline-dark"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                            data-bs-toggle="modal" data-bs-target="#preview">
                            Vista previa
                          </button>
                        </div>
                  </div>
                </div>
              </article>
            </div>

        </section>

        <div class="modal fade" id="Approved?" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog  modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a class="btn btn-primary" href="/admin/requests">Sí<a>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="preview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Previsualización</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div>
                <img width=500px src="https://knowledge.hubspot.com/hubfs/media/MainContent.png" </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                </div>
              </div>
            </div>
          </div>
          </button>





          <!-- Modal -->


          <section>


            </article>
          </section>


      </main>
      <%- include('../partials/footer') %>


  </body>

</html>