<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{ title : 'Catalog' }) %>

  <body class="catalog catalog__main__container">
    <%- include('../partials/header',{ title : 'Catalog' }) %>

      <main class="container ">
        <div class="banner">
        </div>

        <!--buscador de categorias-->
        <nav class="catalog__main__section__navbar mb-4">
          <div class="row">
            <div class="col-12 col-md-6">
              <form action="/entrepreneurships/filter" method="GET" class="d-flex align-items-center gap-2">
                <select name="category" id="" class="form-select">
                  <option value="" selected hidden>Filtrar por categorías</option>
                  <option value="belleza">
                    Belleza
                  </option>
                  <option value="tecnología">
                    Tecnología
                  </option>
                  <option value="accesorios">
                    Accesorios
                  </option>
                  <option value="gastronomía">
                    Gastronomía
                  </option>
                  <option value="indumentaria">
                    Indumentaria
                  </option>
                </select>
                <button class="btn btn-outline-light" style="background-color: var(--color-salmonRed)" type="submit">
                  Filtrar
                </button>

              </form>
            </div>
            <div class="col-12 col-md-6">
              <form class="d-flex gap-2" role="search" action="/entrepreneurships/search">
                <input class="form-control" type="search" placeholder="O ingresá lo que querés buscar..."
                  aria-label="Search" name="keyword" />
                <button class="btn btn-outline-light" style="background-color: var(--color-salmonRed)" type="submit">
                  Buscar
                </button>
              </form>
            </div>


          </div>
        </nav>
        <section class="catalog__main__section">
          <section class="row row-gap-2 position-relative" style="padding-bottom: 100px;">
            <!-- Contenedor de todos los productos -->
            <% if (entrepreneurships.length) { %>
              <h5>
                <%= locals.keyword ? keyword : locals.category ? category : "Todas las emprendedoras" %>
              </h5>
              <% entrepreneurships.forEach(({id,name, description,links, image, title, category, user})=> { %>



                <div class="col-12 col-md-6 catalog-card">
                  <article class="card shadow catalog-card-hover">

                    <div class="catalog-bg">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12 col-lg-4 d-flex justify-content-center align-items-start catalog-img-hover">
                          <img class="img-fluid rounded" style="height: 300px; object-fit: contain;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_AVFJwi086bFy31ygcD6uTfwSnRBiIlRv0g&s" alt="">
                        </div>
                        <div class="col-12 col-lg-8 p-3 position-relative">
                          <h6 class="catalog-category text-muted font-weight-bold">
                            <%= category.name %>
                          </h6>
                          <h2 class="catalog-name mb-2" style="font-size: 1.5rem; color: #333;">
                            <%= name %>
                          </h2>
                          <hr>
                          <p class="overflow-auto  mb-3 catalog-description" style="max-height: 100px;">
                            <%= description %>
                          </p>
                          <div class="d-flex gap-2 mb-3">
                            <% user.networks.forEach(net => { %>
                              <a class="catalog-links text-dark catalog-social-icon" href="/entrepreneurships<%= links %>" target="_blank">
                                <i class="fa-brands fa-<%= net.toLowerCase().includes('facebook') ? 'facebook' : net.toLowerCase().includes('instagram') ? 'instagram' : 'linkedin' %>"></i>
                              </a>
                            <% }) %>
                          </div>
                          <a class="btn btn-outline-secondary catalog-btn-hover" href="/entrepreneurships/detail/<%= id %>">Ver más</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  </article>
                </div>
                





                <% }) %>
                  <% }else{ %>
                    <div class="alert alert-warning">No hay resultados para mostrar</div>
                    <% } %>

                      <nav class="position-absolute bottom-0 justify-content-center d-flex">
                        <ul class="pagination">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <% for( let i=1; i <=totalPages; i++ ) { %>
                            <li class="page-item <%= page == i && 'active' %>"><a class="page-link"
                                href="/entrepreneurships/catalog?page=<%= i %>">
                                <%= i %>
                              </a></li>

                            <% } %>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                        </ul>
                      </nav>
          </section>
        </section>




      </main>
      <%- include('../partials/footer',{title :'catalog'}) %>
  </body>

</html>