<!DOCTYPE html>
<html>
<%- include('../partials/head', { title: 'Registro' }) %>

	<body class="register register__main__container">
		<%- include('../partials/header',{title: 'Registro' }) %>
			<main class="container">
				<section class="register__main__section" style="max-width: 720px; margin: 30px auto;">
					<h1 class="mb-3">Actualizá los datos de tu emprendimiento</h1>
					<!-- lo ideal sería que esto le llegue al admin, pero redirija a la pagina de perfil de usuario -->
					<form class="row"  method="POST" action="/entrepreneurships/update/<%= entrepreneurship.id%>?_method=PUT" enctype="multipart/form-data">
						<div class="col-12">
							<div class="row">
								<div class="col-12 border rounded border-1 p-3 mb-3">
								<div class="field-group col-12">
									<label for="name">Nombre</label>
									<input type="text" id="name" name="name"
										placeholder="Ingresá el nombre de tu emprendimiento" value="<%= entrepreneurship.name %>">
										<small class=" text-danger"><%= (locals.errors && errors.name) && errors.name.msg %></small>
									</div>
								<div class="field-group col-12">
									<label for="description" class="form-label">Descripción</label>
									<textarea style="resize: none;" name="description" class="form-control"
										id="description" rows="3"><%= entrepreneurship.description %></textarea>
										<small id="description-error" class="text-danger"><%= (locals.errors && errors.description) && errors.description.msg %></small>
								</div>
							</div>

								<div class="col-12 border rounded border-1 p-3 mb-3">
									<h5>Categoría de tu emprendimiento</h5>
									<hr>
									<div class="row gap-2">
										<% categories.forEach(category => { %>
											<div class="col-12 col-md-3">
												<div class="form-check">
													<input class="form-check-input" type="radio" value="<%= category.id %>"
														id="<%= category.id + category.name %>" name="category" <%= category.name == entrepreneurship.category.name && 'checked' %>>
													<label class="form-check-label" for="<%= category.id + category.name %>">
														<%= category.name %>
													</label>
												</div>
											</div>
										<% }) %>
									

									
									</div>

								</div>
							
								<div class="col-12 border rounded border-1 p-3 mb-3">
									<h5>Imágenes</h5>
									<hr>
									<div class="row">
										<div class="field-group col-12 col-md-6">
											<label for="image-main">Imagen de perfil</label>
											<img src="<%= entrepreneurship.profileImage %>" class="img-fluid my2" alt="profile-image">
											<input name="image" type="file" class="form-control" id="image-main">
											<small id="image-error" class="text-danger ms-2" hidden>Error al cargar la
												imagen</small>
										</div>

										<div class="field-group col-12 col-md-6">
											<label for="image-additional">Imagen de portada</label>
											<img src="<%= entrepreneurship.coverImage %>" class="img-fluid my2" alt="">

											<input name="image-additional" type="file" class="form-control"
												id="image-additional">
											<small id="image-error" class="text-danger ms-2" hidden>Error al cargar la
												imagen</small>
										</div>
									</div>

								</div>




							</div>
							<div class="col-12">
								<div class="d-flex align-items-center justify-content-end">
									
                                    
									<button type="submit">Guardar cambios</button>
								</div>


							</div>

						</div>




					</form>
				</section>
			</main>
			<%- include('../partials/footer') %>
	</body>

</html>


<!-- hay que pensar en la validación de datos de mail, xq sino cualquiera puede usar otro mail para registrarse -->