<!DOCTYPE html>
<html>
<%- include('../partials/head', { title: 'Registro' }) %>

	<body class="register register__main__container">
		<%- include('../partials/header',{title: 'Registro' }) %>
			<main class="container">
				<section class="register__main__section">
					<h1 class="mb-3">Registrá tu emprendimiento</h1>
					<!-- lo ideal sería que esto le llegue al admin, pero redirija a la pagina de perfil de usuario -->
					<form class="row"  method="POST">
						<div class="col-12 col-md-6 ">
							<div class="border rounded border-1 p-3">
								<h5>Datos personales</h5>

								<hr>
								<div class="row">
								<div class="field-group col-12 col-md-6">
									<label for="name">Nombre</label>
									<input type="text" id="name" name="name"
										placeholder="Ingresá tu o tus nombres">
									<small class=" text-danger"><%= (locals.errors && errors.name) && errors.name.msg %></small>
								</div>


								<div class="field-group col-12 col-md-6">
									<label for="surname">Apellido</label>
									<input type="text" id="surname" name="surname"
										placeholder="Ingresá tu o tus apellidos">
									<small class=" text-danger"><%= (locals.errors && errors.surname) && errors.surname.msg %></small>
								</div>
								<div class="field-group col-12">
									<label for="country">País de origen</label>
									<select name="country" id="country" class="form-select">
										<option value="" selected hidden>Seleccione un país</option>
										<option value="Argentina">Argentina</option>
										<option value="Brasil">Brasil</option>
										<option value="Colombia">Colombia</option>
										<option value="Venezuela">Venezuela</option>
									</select>
									<small class=" text-danger"><%= (locals.errors && errors.country) && errors.country.msg %></small>
								</div>
								<div class="field-group col-12 col-md-6">
									<label for="email">Email</label>
									<input type="email" id="email" name="email"
										placeholder="Ingresá tu correo electrónico">
									<small class=" text-danger"><%= (locals.errors && errors.email) && errors.email.msg %></small>
								</div>
								<div class="field-group col-12 col-md-6">
									<label for="phone">Telefono</label>
									<input type="text" id="phone" name="phone"
										placeholder="Ingresá número de contacto">
									<small class=" text-danger"><%= (locals.errors && errors.phone) && errors.phone.msg %></small>
								</div>
								<div class="field-group col-12 col-md-6">
									<label for="password">Contraseña</label>
									<input type="password" id="password" name="password" placeholder="Contraseña">
									<small class=" text-danger"><%= (locals.errors && errors.password) && errors.password.msg %></small>
								</div>

								<div class="field-group col-12 col-md-6">
									<label for="password2">Confirmá tu contraseña</label>
									<input type="password" id="password2" name="password2"
										placeholder="Confirmá contraseña">
									<small class=" text-danger"><%= (locals.errors && errors.password2) && errors.password2.msg %></small>
								</div>
									<h5 class="form-label">Redes sociales</h5>
									<hr>
									<div class="row">
										<div class="field-group col-12 col-md-6">
											<label for="linkedin">LinkedIn</label>
											<input type="url" id="linkedin" name="networks"
												placeholder="Enlace a tu perfil de LinkedIn">
										</div>

										<div class="field-group col-12 col-md-6">
											<label for="instagram">Instagram</label>
											<input type="url" id="instagram" name="networks"
												placeholder="Enlace a tu perfil de Instagram">
										</div>

										<div class="field-group col-12 col-md-6">
											<label for="facebook">Facebook</label>
											<input type="url" id="facebook" name="networks"
												placeholder="Enlace a tu perfil de Facebook">
										</div>
									</div>

							</div>
							
							</div>


						</div>
						<div class="col-12 col-md-6">
							<div class="row">
								<div class="col-12 border rounded border-1 p-3 mb-3">
									<h5>Tu emprendimiento</h5>
									<hr>
								<div class="field-group col-12">
									<label for="entrepeneurshipname">Nombre</label>
									<input type="text" id="entrepeneurshipname" name="entrepeneurshipname"
										placeholder="Ingresá el nombre de tu emprendimiento">
									<small class=" text-danger"><%= (locals.errors && errors.entrepeneurshipname) && errors.entrepeneurshipname.msg %></small>
								</div>
								<div class="field-group col-12">
									<label for="description" class="form-label">Descripción</label>
									<textarea style="resize: none;" name="description" class="form-control"
										id="description" rows="3"></textarea>
									<small id="description-error" class="text-danger"><%= (locals.errors && errors.description) && errors.description.msg %></small>
								</div>
							</div>

								<div class="col-12 border rounded border-1 p-3 mb-3">
									<h5>Categoría de tu emprendimiento</h5>
									<hr>
									<div class="row">
										<% categories.forEach(category => { %>
											<div class="col-12 col-md-6">
												<div class="form-check">
													<input class="form-check-input" type="radio" value="<%= category._id %>"
														id="<%= category.id + category.name %>" name="category">
													<label class="form-check-label" for="<%= category.id + category.name %>">
														<%= category.name %>
													</label>
												</div>

											</div>
										<% }) %>
										<small id="category-error" class="text-danger"><%= (locals.errors && errors.category) && errors.category.msg %></small>


									
									</div>

								</div>
							
								<div class="col-12 border rounded border-1 p-3 mb-3">
									<h5>Imágenes</h5>
									<hr>
									<div class="row">
										<div class="field-group col-12 col-md-6">
											<label for="profileImage">Imagen de perfil</label>
											<input name="profileImage" type="file" class="form-control" id="profileImage">
											<small id="image-error" class="text-danger ms-2" hidden>Error al cargar la
												imagen</small>
										</div>

										<div class="field-group col-12 col-md-6">
											<label for="coverImage">Imagen de portada</label>
											<input name="coverImage" type="file" class="form-control"
												id="coverImage">
											<small id="image-error" class="text-danger ms-2" hidden>Error al cargar la
												imagen</small>
										</div>
									</div>

								</div>




							</div>
							<div class="col-12">
								<div class="d-flex align-items-center justify-content-between">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="terms">
										<label class="form-check-label" for="terms">
											Acepto los términos y condiciones.
										</label>
									</div>
									<button type="submit">Registrarme</button>
								</div>


							</div>

						</div>




					</form>
				</section>
			</main>
			<%- include('../partials/footer') %>
	</body>

</html>


<!-- hay que pensar en la validación de datos de mail, xq sino cualquiera puede usar otro mail para registrarse -->